{% extends "base.html" %}
{% load static %}
{% block content%}

<main>
            <div class="container">
                <div class="row">

                    <!-- blog-contents -->
                    <section class="col-md-8">
                    {% for x in dt %}
                        <article class="blog-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="single_blog_page/{{x.id}}">
                                        <img src="{{x.img.url}}" class="img-thumbnail center-block" alt="Blog Post Thumbnail" width='200px'>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <p>
                                        
                                        <a href="#">{{x.title}}</a>
                                        ,
                                        
                                        <time>{{x.date}}<time>
                                    </p>
                                    <h1>
                                        <a href="single_blog_page/{{x.id}}">{{x.description}}</a>
                                    </h1>
                                </div> 
                            </div>
                        </article> <!-- /.blog-item -->
                        {% endfor %}
                        

                        <div class="page-turn">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <nav>
                                        <ul class="pagination pagination-sm">
                                            <li class="disabled">
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">Prev</span>
                                                </a>
                                            </li>
                                            <li class="active"><a href="index">1</a></li>
                                            <li><a href="page2.html">2</a></li>
                                            <li><a href="page3.html">3</a></li>
                                            <li><a href="page4.html">4</a></li>
                                            <li><a href="page5.html">5</a></li>
                                            <li>
                                                <a href="page6.html" aria-label="Next">
                                                    <span aria-hidden="true">Next</span>
                                                </a>
                                            </li>
                                        </ul> <!-- /.pagination -->
                                    </nav>
                                </div>
                            </div>
                        </div> <!-- /.page-turn -->

                    </section>
                    <!-- end of blog-contents -->

                    <!-- sidebar -->
                    <aside class="col-md-4 col-sm-8 col-xs-8">
                        <div class="sidebar">

                            <!-- search option -->
                            <div class="search-widget">
                                <div class="input-group margin-bottom-sm">
                                    <input class="form-control" type="text" placeholder="Search here">
                                    <a href="#" class="input-group-addon">
                                        <i class="fa fa-search fa-fw"></i>
                                    </a>
                                </div>
                            </div>

                            <a href="http://themewagon.com/" class="template-images">
                                <img class="img-responsive" src="static/img/store1.png" alt="Template Store">
                                <div class="overlay"></div>
                            </a>

                            <!-- subscribe form -->
                            <div class="subscribe-widget">
                                <h4 class="text-capitalize text-center">
                                    get recent update by email . 
                                </h4>
                                <div class="input-group margin-bottom-sm">
                                    <input class="form-control" type="text" placeholder="Your Email">
                                    <a href="#" class="input-group-addon">
                                        <i class="fa fa-paper-plane fa-fw"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- sidebar share button -->
                            <div class="share-widget hidden-xs hidden-sm">
                                <ul class="social-share text-center">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul> <!-- /.sidebar-share-button -->
                            </div> <!-- /.share-widget -->

                        </div>
                    </aside> 
                    <!-- end of sidebar -->

                </div>
            </div> <!-- end of /.container -->
        </main>

{% endblock %}