name: Zero Downtime Django Deploy (ASG)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH (ED25519 + Base64)
        shell: bash
        run: |
          set -e
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY_BASE64 }}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.AMI_BUILDER_IP }} "echo SSH_OK"

      - name: Deploy with Docker
        shell: bash
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.AMI_BUILDER_IP }} << 'EOF'
          set -e

          cd /home/ubuntu/mydjangoproject/Blog_Project

          git fetch origin
          git reset --hard origin/main

          docker-compose pull
          docker-compose up -d --build

          sleep 10
          curl -f http://localhost/health/
          EOF
