name: Zero Downtime Django Docker Deploy (ASG)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        printf '%s' "${{ secrets.EC2_SSH_KEY_BASE64 }}" | base64 --decode > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H ${{ secrets.AMI_BUILDER_IP }} >> ~/.ssh/known_hosts 2>/dev/null || true
        ssh -vvv -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519 ubuntu@${{ secrets.AMI_BUILDER_IP }} "echo SSH_OK"

    - name: Deploy Docker containers
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519 ubuntu@${{ secrets.AMI_BUILDER_IP }} << 'EOF'
        set -e

        cd /home/ubuntu/mydjangoproject/Blog_Project

        git fetch origin
        git reset --hard origin/main

        docker info >/dev/null
        docker-compose version

        docker-compose pull
        docker-compose up -d --build

        sleep 10
        curl -f http://localhost/health/
        EOF
