name: Zero Downtime Django Docker Deploy (ASG)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.AMI_BUILDER_IP }} >> ~/.ssh/known_hosts 2>/dev/null || true
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519 ubuntu@${{ secrets.AMI_BUILDER_IP }} "echo SSH_OK"

      - name: Deploy Docker containers
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_ed25519 ubuntu@${{ secrets.AMI_BUILDER_IP }} << 'EOF'
          set -e

          cd /home/ubuntu/mydjangoproject/Blog_Project

          git fetch origin
          git reset --hard origin/main

          docker compose pull
          docker compose up -d --build

          echo "⏳ Waiting for app to be ready..."

          for i in {1..15}; do
            if curl -sf http://localhost/health/ > /dev/null; then
              echo "✅ App is healthy"
              exit 0
            fi
            echo "⏱️ retry $i..."
            sleep 5
          done

          echo "❌ App failed health check"
          docker compose ps
          docker compose logs web --tail=50
          exit 1
          EOF
