#deploy.yml file

name: Zero Downtime Django Deploy (ASG)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.AMI_BUILDER_IP }} >> ~/.ssh/known_hosts

    - name: Build AMI
      run: |
        ssh ubuntu@${{ secrets.AMI_BUILDER_IP }} << EOF
        set -e

        cd /home/ubuntu/mydjangoproject/Blog_Project
        git fetch origin
        git reset --hard origin/main

        source /home/ubuntu/mydjangoproject/venv/bin/activate
        pip install -r requirements.txt
        python manage.py migrate --noinput
        python manage.py collectstatic --noinput
        sudo systemctl restart gunicorn

        curl http://localhost/health/
        EOF
